@import url("https://fonts.googleapis.com/css?family=Work+Sans:900");

.b-code > code {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.f115 {
  font-size: 1.15em !important;
}

.f125 {
  font-size: 1.25em !important;
}

.f15 {
  font-size: 1.5em !important;
}

.f14 {
  font-size: 1.4em !important;
}

.f21 {
  font-size: 2.1em !important;
}

.f28 {
  font-size: 2.8em !important;
}

.f3 {
  font-size: 3.0em !important;
}

.f4 {
  font-size: 4.0em !important;
}

.grey {
  color: #575657;
}

.h-75 {
  height: 75%;
}

.img-w-100 > img {
  width: 100%;
}

.lh-05 {
  line-height: 0.5 !important;
}

.light-pink {
  color: #FE7F76;
}

.uppercase {
  text-transform: uppercase;
}

.work-sans {
  font-family: "Work Sans", sans-serif !important;
}

.w-20 {
  width: 20%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}


/* Theme overrides */

/* .reveal .slides { */
/*   /1* current default is 960px, which is quite constraining *1/ */
/*   width: 1280px !important; */
/* } */

/* Don't put borders around images cause they don't look so good around
 * sponsor images.
 */
.reveal section img {
  border: 0;
  box-shadow: none;
}
