/* Don't put borders around images cause they don't look so good around
 * sponsor images.
 */
.reveal section img {
  border: 0;
  box-shadow: none;
}

.headline {
  color: #575657;
  font-size: 1.5em !important;
}
